@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400");

:root {
  --red: #d41c08;
  --reddark: #540b03;
  --redlight: #eb4e3d;
  --redplusdark: #66160b;
  --redopacity: #d41c0880;
  --black: #141415;
  --white: #f8f9fc;
  --gray: #616161;
  --graydark: #3a3a3a;
  --yellow: #ddcb26;

  /* switch */
  --switch-width: 46px;
  --switch-height: 24px;
  --switch-checked-bg: var(--red);
  --switch-offset: calc((var(--switch-height) - var(--circle-diameter)) / 2);
  --switch-transition: all .2s cubic-bezier(0.27, 0.2, 0.25, 1.51);
  /* circle */
  --circle-diameter: 18px;
  --circle-bg: #fff;
  --circle-shadow: 1px 1px 2px rgba(146, 146, 146, 0.45);
  --circle-checked-shadow: -1px 1px 2px rgba(163, 163, 163, 0.45);
  --circle-transition: var(--switch-transition);
  /* icon */
  --icon-transition: all .2s cubic-bezier(0.27, 0.2, 0.25, 1.51);
  --icon-cross-color: var(--gray);
  --icon-cross-size: 6px;
  --icon-checkmark-color: var(--switch-checked-bg);
  --icon-checkmark-size: 10px;
  /* effect line */
  --effect-width: calc(var(--circle-diameter) / 2);
  --effect-height: calc(var(--effect-width) / 2 - 1px);
  --effect-bg: var(--circle-bg);
  --effect-border-radius: 1px;
  --effect-transition: all .2s ease-in-out;
}

::selection {
  background-color: var(--redopacity);
  color: var(--white);
}

body,
html {
  font-family: "Source Sans Pro", sans-serif;
  background-color: var(--redplusdark);
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#particles-js {
  position: absolute;
  width: 100dvw;
  height: 100dvh;
}

.container {
  display: flex;
  margin: 0;
  top: 15%;
  left: 50%;
  justify-content: center;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  background-color: var(--black);
  border-radius: 12px;
  width: 400px;
  height: 500px;
  box-shadow: 1px 1px 108.8px 19.2px var(--reddark);
}

.box h4 {
  font-family: "Source Sans Pro", sans-serif;
  color: var(--red);
  font-size: 18px;
  margin-top: 94px;
}

.box h4 span {
  color: var(--white);
  font-weight: lighter;
}

.box h5 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 13px;
  color: var(--gray);
  letter-spacing: 1.5px;
  margin-top: -15px;
  margin-bottom: 70px;
}

.box input[type="text"],
.box input[type="password"] {
  display: block;
  margin: 20px auto;
  background: var(--red);
  border: 0;
  border-radius: 5px;
  padding: 14px 10px;
  width: 320px;
  font-weight: bold;
  outline: none;
  color: var(--white);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.5s ease;
}


::-webkit-input-placeholder {
  color: var(--black);
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
  background-color: var(--black);
  border: 1px solid var(--red);
}

.active {
  color: #007BFF;
}

.switch input {
  display: none;
}

.switch {
  display: inline-block;
  margin-left: 10%;
}

.switch svg {
  -webkit-transition: var(--icon-transition);
  -o-transition: var(--icon-transition);
  transition: var(--icon-transition);
  position: absolute;
  height: auto;
}

.switch .checkmark {
  width: var(--icon-checkmark-size);
  color: var(--icon-checkmark-color);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.switch .cross {
  width: var(--icon-cross-size);
  color: var(--icon-cross-color);
}

.slider {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: var(--switch-width);
  height: var(--switch-height);
  background: var(--gray);
  border-radius: 999px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-transition: var(--switch-transition);
  -o-transition: var(--switch-transition);
  transition: var(--switch-transition);
  cursor: pointer;
}

.circle {
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  background: var(--circle-bg);
  border-radius: inherit;
  -webkit-box-shadow: var(--circle-shadow);
  box-shadow: var(--circle-shadow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: var(--circle-transition);
  -o-transition: var(--circle-transition);
  transition: var(--circle-transition);
  z-index: 1;
  position: absolute;
  left: var(--switch-offset);
}

.slider::before {
  content: "";
  position: absolute;
  width: var(--effect-width);
  height: var(--effect-height);
  left: calc(var(--switch-offset) + (var(--effect-width) / 2));
  background: var(--effect-bg);
  border-radius: var(--effect-border-radius);
  -webkit-transition: var(--effect-transition);
  -o-transition: var(--effect-transition);
  transition: var(--effect-transition);
}

/* actions */

.switch input:checked+.slider {
  background: var(--switch-checked-bg);
}

.switch input:checked+.slider .checkmark {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.switch input:checked+.slider .cross {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.switch input:checked+.slider::before {
  left: calc(100% - var(--effect-width) - (var(--effect-width) / 2) - var(--switch-offset));
}

.switch input:checked+.slider .circle {
  left: calc(100% - var(--circle-diameter) - var(--switch-offset));
  -webkit-box-shadow: var(--circle-checked-shadow);
  box-shadow: var(--circle-checked-shadow);
}

a {
  color: var(--white);
  text-decoration: none !important;
  transition: all 0.3s ease;
}

a:hover {
  text-decoration: underline;
  color: var(--red);
  font-weight: bold;
}

.btn1 {
  border: 0;
  background: var(--graydark);
  color: #eedede;
  border-radius: 100px;
  width: 340px;
  height: 49px;
  font-size: 16px;
  position: absolute;
  top: 79%;
  left: 8%;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn1:hover {
  background: var(--reddark);
}

.rmb {
  position: absolute;
  margin-left: -33%;
  margin-top: 0px;
  color: var(--white);
  font-size: 15px;
}

.forgetpass {
  position: relative;
  float: right;
  right: 28px;
}

.dnthave {
  position: absolute;
  top: 92%;
  left: 24%;
}

[type="checkbox"]:checked+span:before {
  /* <-- style its checked state */
  font-family: FontAwesome;
  font-size: 16px;
  content: "\f00c";
  position: absolute;
  top: -4px;
  color: var(--red);
  left: -1px;
  width: 13px;
}

.typcn {
  position: absolute;
  left: 339px;
  top: 282px;
  color: var(--white);
  font-size: 22px;
  cursor: pointer;
}

.typcn.active {
  color: var(--black);
}

.error {
  background: var(--yellow);
  text-align: center;
  width: 337px;
  height: 20px;
  padding: 2px;
  border: 0;
  border-radius: 5px;
  margin: 10px auto 10px;
  position: absolute;
  top: 31%;
  left: 7.2%;
  color: var(--black);
  font-weight: bold;
  display: none;

}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  top: 650px;
  width: 100%;
  color: var(--gray);
  font-size: 14px;
  text-align: center;
}